{% extends "base.html" %}
{% load tz %}

{% block extrascripts %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.2/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.22.2/dist/bootstrap-table.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <table class="table" id="url-action-list" data-toggle="table" data-search="true" data-pagination="true">
        <thead>
            <tr>
                <th>ID</th>
                {% if 'history' in request.path %}
                <th>Type</th>
                {% endif %}
                <th>Long URL</th>
                <th>Timestamp</th>
                <th>URL Key</th>
                <th>QR Code</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            {% if object.was_successfull %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.id }}</a></td>
                {% if 'history' in request.path %}
                <td>{{ object.action_type }}</td>
                {% endif %}
                <td><a href="{{ object.long_url_cleaned }}">{{ object.long_url_cleaned }}</a></td>
                <td>{{ object.timestamp|timezone:"America/Los_Angeles" }}</td>
                {% if object.action_type != "delete" %}
                <td><a href="https://aws3.link/{{ object.url_key }}">{{ object.url_key }}</a></td>
                {% else %}
                <td>{{ object.url_key }}</td>
                {% endif %}
                <td><img src="{{ object.qr_url_small }}" /></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}