{% extends "base.html" %}
{% load tz %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>URL action info</h3>
            <img src="{{ object.qr_url }}">
            <p><strong>Action Type:</strong> {{ object.action_type }}</p>
            <p><strong>Long URL:</strong> <a href="{{ object.long_url_cleaned }}">{{ object.long_url }}</a></p>
            <p><strong>Response JSON:</strong> {{ object.response_json }}</p>
            <p class="{% if object.response_code == 200 %}text-success{% else %}text-danger{% endif %}"><strong>Response Code:</strong> {{ object.response_code }}</p>
            <p><strong>Timestamp:</strong> {{ object.timestamp|timezone:"America/Los_Angeles" }}</p>
            <p><strong>URL Key:</strong> <a href="https://aws3.link/{{ object.url_key }}">{{ object.url_key }}</a></p>
        </div>
    </div>
    {% if 'hits' in tracking_data.keys %}
    <div class="row">
        <div class="col-md-6">
            <h3>Tracking data</h3>
            <p>Total hits: {{ tracking_data.totalHits }}</p>
            {% if tracking_data.totalHits|add:0 > 0 %}
            <table class="table" id="tracking-data" data-toggle="table" data-search="true" data-pagination="true">
                <thead>
                    <tr>
                        <th>Datetime</th>
                        <th>IP Address</th>
                        <th>Location</th>
                        <th>OS</th>
                        <th>Dist</th>
                        <th>Browser</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hit in tracking_data.hits %}
                    <tr>
                        <td>{{hit.datetime|timezone:"America/Los_Angeles"}}</td>
                        <td>{{hit.ip}}</td>
                        <td>
                            {% if 'ip_data' in hit.keys %}
                            {{hit.ip_data.city}}, {{hit.ip_data.region}}, {{hit.ip_data.countryCode}}
                            {% endif %}
                        </td>
                        <td>{{hit.user.os.name}}</td>
                        <td>{{hit.user.dist.name}} v{{hit.user.dist.version}}</td>
                        <td>{{hit.user.browser.name}} v{{hit.user.browser.version}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if object.action_type != "delete" %}
    <div class="row">
        <div class="col-sm">
            <a href="{% url 'create' %}?url_key={{ object.url_key }}&action_type=delete"
                class="btn btn-outline-secondary my-2 my-sm-0">Delete URL key</a>
        </div>
        <div class="col-sm">
            <a href="{% url 'create' %}?url_key={{ object.url_key }}&action_type=update"
                class="btn btn-outline-secondary my-2 my-sm-0">Update URL key</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}