{% extends "base.html" %}
{% load tz %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Long URL</th>
                <th>Timestamp</th>
                <th>URL Key</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            {% if object.was_successfull %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.id }}</a></td>
                <td>{{ object.action_type }}</td>
                <td><a href="{{ object.long_url_cleaned }}">{{ object.long_url_cleaned }}</a></td>
                <td>{{ object.timestamp|timezone:"America/Los_Angeles" }}</td>
                {% if object.action_type != "delete" %}
                <td><a href="https://aws3.link/{{ object.url_key }}">{{ object.url_key }}</a></td>
                {% else %}
                <td>{{ object.url_key }}</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}